@model GestionEtudiants.Models.Classe

<div class="card-custom">
    <h5 class="mb-3 text-secondary">Classe : @Model.Nom</h5>

    @if (Model.Etudiants.Any())
    {
        <table class="table table-custom table-hover">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom Complet</th>
                    <th>CIN / Apogée</th>
                    <th>Date de Naissance</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Etudiants)
                {
                    <tr>
                        <td>
                            <img src="@e.Photo" class="student-photo" alt="Photo" />
                        </td>
                        <td>@e.Nom @e.Prenom</td>
                        <td>@(string.IsNullOrEmpty(e.CIN) ? e.CodeApogee : e.CIN)</td>
                        <td>@e.DateNaissance.ToString("dd/MM/yyyy")</td>
                        <td><a href="mailto:@e.Email">@e.Email</a></td>
                        <td>@e.Telephone</td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@e.Id" asp-route-classeId="@Model.Id" class="btn btn-info btn-sm btn-rounded"><i class="bi bi-info-circle"></i></a>
                            <a asp-action="Edit" asp-route-id="@e.Id" asp-route-classeId="@Model.Id" class="btn btn-warning btn-sm btn-rounded"><i class="bi bi-pencil"></i></a>
                            <a asp-action="Delete" asp-route-id="@e.Id" asp-route-classeId="@Model.Id" class="btn btn-danger btn-sm btn-rounded"><i class="bi bi-trash"></i></a>
                            <a asp-action="Moyenne" asp-route-id="@e.Id" asp-route-classeId="@Model.Id" class="btn btn-primary btn-sm btn-rounded"><i class="bi bi-bar-chart"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-secondary rounded-3">
            Aucun étudiant inscrit dans cette classe.
        </div>
    }
</div>
